<header class="header">
    <div class="menu-container">
        <a href="#" class="logo">Logo</a>
    </div>

    <div class="header-content">
        <div class="header-txt">
            <h1>Compra tu <span>juego</span> <br> favorito aqui</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quam dicta aliquam, consectetur labore dolore commodi perspiciatis,
                nulla beatae incidunt reprehenderit ut perferendis saepe adipisci repellat laboriosam,
                optio magnam voluptate! Quis!
            </p>
            <div class="butons">
                <a href="/user/register" class="btn-1">Registrate</a>

                <a href="/product" class="btn-1">Juegos</a>
            </div>
        </div>
    </div>
</header>