<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
<!-- 
    <section class="popular container">
        <h2>Juegos Populares</h2>
        <div class="popular-content">
            <img src="/images/g1.jpg" alt="">
            <img src="/images/g2.jpg" alt="">
            <img src="/images/g3.jpg" alt="">
            <img src="/images/g4.jpg" alt="">
            <img src="/images/g5.jpg" alt="">
            <img src="/images/g6.jpg" alt="">
            <img src="/images/g7.jpg" alt="">
        </div>
    </section>

   <//< include("./productos/productos.ejs") %>//falta ponerle (%)<<<<<<<<<<<<<<<<<// -->
   
    

   <%- include("./partials/footer.ejs") %>

</body>
</html>